/*---------intro text-------*/

.intro{
  padding: 60px 45px;
 
  display: flex;
  justify-content: center;
}

.intro-inner{
  max-width: 777px;

}

.intro h1{
  font-weight: normal;
  font-size: 2.1rem;
  margin: 0;

}

/*------end---intro text-------*/


/*----------slider--------*/
.slider{
  width:auto;
  height:504px ;
  Xborder:3px solid rgb(227, 153, 15);
  margin: 9px auto;
padding: 15px 3px;
}


.containerS {
  width: auto;
  height: 100%;
  position: relative;

  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  cursor: pointer;

}

.boxS{
  width: 100%;
  height: 100%;
  position: relative;

}
.boxS img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit :cover ;
 transition: 6s linear;

}
.boxS img:hover{
  transform: scale(1.5);
 
}
.boxS .textS{
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
 background : #0007;
  padding:9px;
  color: rgb(210, 220, 22);
  animation: text 2s linear;
  border-radius: 9%;
}
@keyframes textS{
  from{opacity: 0;}
  to{opacity: 1;}
}
.textS h2{
  text-transform: uppercase;
  font-weight: 936;
  letter-spacing: 3px;
  font-size: 1.5em;
}
.textS p{
  line-height: 1.4;
  margin: 20px 0;
}
/*---------animacija------*/
.animation-fadeInDown {
opacity: 0;
  -moz-animation: fadeInDown 1s ease-in 0.6s forwards; /* Firefox */
  -webkit-animation: fadeInDown 1s ease-in 0.6s forwards; /* Safari and Chrome */
  -o-animation: fadeInDown 1s ease-in 0.6s forwards; /* Opera */
  animation: fadeInDown 1s ease-in 0.6s forwards;
}

/*.animation-fadeInDown {
animation: fadeInDown 2s;
}*/

@keyframes fadeInDown {
 0% {
    opacity: 0;
    transform: translateY(-20px);
 }
 100% {
    opacity: 1;
    transform: translateY(0);
 }
} 








@keyframes fadeInDown {
 0% {
    opacity: 0;
    transform: translateY(-20px);
 }
 100% {
    opacity: 1;
    transform: translateY(0);
 }
} 

/*--------------kraj ---animacija------*/



.textS a{
  background: crimson;
  color: whitesmoke;
  text-decoration: none;
  padding: 9px;
  border-radius: 9px ;
  display: inline-block;
}
.textS a:hover{
  background: teal;

}
/*---prev, next----*/

.prev, .next{
  background: teal;
  position: absolute;
  top: 51%;
  transform: translateY(-51%);
  padding: 12px;
  font-size: 30px;
  color: white;
  font-weight: bold ;
 border-radius: 51% ;
}
.next{
  right: 0;
}
.prev:hover, .next:hover{
  background: crimson;
}
/*-----nav . dot------*/
.navS{
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
}
.navS .dot{
  width: 51px;
  height: 21px;
  background: black;
  border: 3px solid crimson;
  color: white;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  margin: 0 12px;
  border-radius: 36%;

}
.dot.active {
  color: rgba(6, 25, 240, 0.729);

}
/*---------------------end----slider--------------*/

/*------skakace karte-slike------*/

.sectionC {
  height: auto;
  display: flex;
 justify-content: center;
  align-items: center;
  margin:9px auto;
  border:3px solid rgb(227, 153, 15);

}
.container{
position: relative;
width: auto;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 39px;
}


.container .mycard{
  position: relative;
  max-width: 300px;
  height: 270px;
  background: wheat;
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  box-shadow:  0 3px 50px rgba(0, 0, 0, 0.5 );
transition: 0.3s ease-in-out;
border-radius: 18px;

}
.container .mycard:hover{
  height: 369px;

}

.container .mycard .cimg{
  position: relative;
  width: 300px;
  height: 200px;
  top: -39px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 3px 50px rgba(0, 0, 0, 0.5 );
  
}
.container .mycard .cimg img{
  max-width: 100%;
  height: 100%;
  border-radius: 89px;
  
}
.container .mycard .cdetail{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: black;
  font-family: monospace;
  opacity: 0;
  transition: 0.4s ease-in-out;

}
.container .mycard:hover .cdetail{
  visibility: visible;
  opacity: 1;
  margin-top: -50px;
}
